@namespace "http://www.adobe.com/2006/mxml";
@namespace default "spark.skins.default.*";
@namespace containers "flexlib.containers.*";
@namespace s "library://ns.adobe.com/flex/spark";


@font-face {
	src:url("/assets/fonts/Garamond/AGaramondPro-Regular.otf");
	fontFamily: Garamond;
	fontStyle: normal;
	fontWeight: normal;
}


@font-face {
	src:url("/assets/fonts/Avenir/AvenirLTStd-Medium.otf");
	fontFamily: Avenir;
	fontStyle: normal;
	fontWeight: normal;
}
@font-face {
	src:url("/assets/fonts/Avenir/AvenirLTStd-Light.otf");
	fontFamily: Avenir-light;
	fontStyle: normal;
	fontWeight: normal;
}
@font-face {
	src:url("/assets/fonts/Avenir/AvenirLTStd-Heavy.otf");
	fontFamily: Avenir-heavy;
	fontStyle: normal;
	fontWeight: normal;
}

@font-face {
	src:url("/assets/fonts/Avenir/AvenirLTStd-Book.otf");
	fontFamily: Avenir-book;
	fontStyle: normal;
	fontWeight: normal;
}

@font-face {
	src:url("/assets/fonts/Avenir/AvenirLTStd-Black.otf");
	fontFamily: Avenir-black;
	fontStyle: normal;
	fontWeight: normal;
}

@font-face {
  src: url("/assets/fonts/MyriadWebPro.ttf");
  fontFamily: MyriadWebPro;
  fontStyle: normal;
  fontWeight: normal;
}

@font-face {
  src: url("/assets/fonts/MyriadWebPro-Bold.ttf");
  fontFamily: MyriadWebPro;
  fontStyle: normal;
  fontWeight: bold;
}

global{
	modal-transparency-blur: 0;
	modal-transparency: 0.5;

}

.mainButtonStyle{
	skinClass: ClassReference('gapdesktoprx.components.catalyst.MainButton');
	font-family: Avenir;
	font-size: 16;
}

 .infoBox {
  backgroundColor: #FFFFFF;
  borderColor: #999999;
  borderStyle: solid;
  borderThickness: 1;
  cornerRadius: 5;
}

.appTitle {
  fontSize: 24;
  color: #FFFFFF;
}

.appDescription {
  fontSize: 14;
  color: #FFFFFF;
}

.infoTitle {
  fontSize: 18;
}

.addItemButton {
	cornerRadius: 0;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 2;
	themeColor: #939393;
}

containers|SuperTabNavigator {
	tabStyleName: customTab;
}

.customTab {
	tab-close-button-style-name: subtleCloseIcon;
}

.subtleCloseIcon
{
	upSkin:Embed(source="/assets/icons/supertab/close_up.png");
	overSkin:Embed(source="/assets/icons/supertab/close_up.png");
	downSkin:Embed(source="/assets/icons/supertab/close_up.png");
	disabled-skin:Embed(source="/assets/icons/supertab/close_up.png");
}